* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.horizontal-line-container {
  width: 100%;
  height: 2px;
  background-color: black;
}

.horizontal-line {
  width: 100%;
  height: 100%;
  background: var(--lineal-line-color);
}

.navigate-link {
  color: tomato;
}